In [ ]:
# Desafio: 

# Você trabalha em uma grande empresa de Cartão de Crédito e o diretor da empresa percebeu que o número de clientes que cancelam seus cartões tem aumentado significativamente, causando prejuízos enormes para a empresa

# O que fazer para evitar isso? Como saber as pessoas que têm maior tendência a cancelar o cartão?

# # O que temos:

# Temos 1 base de dados com informações dos clientes, tanto clientes atuais quanto clientes que cancelaram o cartão

# Download da Base de Dados: https://drive.google.com/file/d/1c0F7BDwvOZ9NnIj3tUANuvmp_jRYsh31/view?usp=sharing

# Referência: https://www.kaggle.com/sakshigoyal7/credit-card-customers

# Passo 1: Importar a base de dados

# Passo 2: Visualizar a base de dados e ver se precisa de algum "tratamento"
#   - Excluir/Corrigir linhas e valores vazios
#   - Ajeitar colunas importadas da forma errada (ex: Moedas, caso haja problema)
#   - Excluir colunas inúteis

# Passo 3: Analisar a base de dados de acordo com o que queremos descobrir
#   - Queremos descobrir as principais causas de cancelamento ou quem são os clientes com maior chance de cancelar o cartão, para podermos criar um plano de ação

In [ ]:
#Passo 1: Importar a Base de Dados
#Passo 2: Tratamento da Base de Dados
    # - Excluir/ Corrigir linhas e colunas vazias
    # - Ajeitar as colunas importadas
    # - Excluir colunas inúteis
#Passo 3: Analisar a base de dados
    # - Queremos descobrir os principais motivos de cancelamento do cartão

Passo 1: Importando a Base de Dados

In [18]:
import pandas as pd

tabela_clientes = pd.read_csv('ClientesBanco.csv',encoding='latin1')
tabela_clientes = tabela_clientes.drop('CLIENTNUM', axis=1)
display(tabela_clientes)

,Categoria,Idade,Sexo,Dependentes,Educação,Estado Civil,Faixa Salarial Anual,Categoria Cartão,Meses como Cliente,Produtos Contratados,Inatividade 12m,Contatos 12m,Limite,Limite Consumido,Limite Disponível,Mudanças Transacoes_Q4_Q1,Valor Transacoes 12m,Qtde Transacoes 12m,Mudança Qtde Transações_Q4_Q1,Taxa de Utilização Cartão
0,Cliente,45,M,3,Ensino Médio,Casado,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1335.000,1144,42,1625.000,0.061
1,Cliente,49,F,5,Ensino Superior,Solteiro,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1541.000,1291,33,3714.000,0.105
2,Cliente,51,M,3,Ensino Superior,Casado,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2594.000,1887,20,2333.000,0.000
3,Cliente,40,F,4,Ensino Médio,Não informado,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1405.000,1171,20,2333.000,0.760
4,Cliente,40,M,3,Sem ensino formal,Casado,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2175.000,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Cliente,50,M,2,Ensino Superior,Solteiro,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,Cancelado,41,M,2,Não informado,Divorciado,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,Cancelado,44,F,1,Ensino Médio,Casado,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,Cancelado,30,M,2,Ensino Superior,Não informado,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,Cancelado,43,F,2,Ensino Superior,Casado,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

Passo 2: Tratando a base de dados

In [9]:
tabela_clientes = tabela_clientes.dropna() # exclui as linhas que tem itens vazios
display(tabela_clientes.info())
display(tabela_clientes.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10126 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Categoria                      10126 non-null  object
 1   Idade                          10126 non-null  int64
 2   Sexo                           10126 non-null  object
 3   Dependentes                    10126 non-null  int64
 4   Educa��o                       10126 non-null  object
 5   Estado Civil                   10126 non-null  object
 6   Faixa Salarial Anual           10126 non-null  object
 7   Categoria Cart�o               10126 non-null  object
 8   Meses como Cliente             10126 non-null  int64
 9   Produtos Contratados           10126 non-null  int64
 10  Inatividade 12m                10126 non-null  int64
 11  Contatos 12m                   10126 non-null  int64
 12  Limite                         10126 non-null  float64
 13  Limite Consumido               10126 non-null  int64
 14  Limite Dispon�vel              10126 non-null  float64
 15  Mudan�as Transacoes_Q4_Q1      10126 non-null  float64
 16  Valor Transacoes 12m           10126 non-null  int64
 17  Qtde Transacoes 12m            10126 non-null  int64
 18  Mudan�a Qtde Transa��es_Q4_Q1  10126 non-null  float64
 19  Taxa de Utiliza��o Cart�o      10126 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.6+ MB

None

,Idade,Dependentes,Meses como Cliente,Produtos Contratados,Inatividade 12m,Contatos 12m,Limite,Limite Consumido,Limite Dispon�vel,Mudan�as Transacoes_Q4_Q1,Valor Transacoes 12m,Qtde Transacoes 12m,Mudan�a Qtde Transa��es_Q4_Q1,Taxa de Utiliza��o Cart�o
count,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000,10126.000000
mean,46.327079,2.346139,35.928995,3.812463,2.341300,2.455264,8631.962088,1162.764369,7469.197719,108.713167,4404.391764,64.861841,66.579995,0.274901
std,8.016420,1.298956,7.986593,1.554440,1.010584,1.106267,9089.225428,815.012238,9091.132356,353.912795,3397.157925,23.471594,284.001363,0.275704
min,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000
25%,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,358.000000,1324.250000,0.631000,2156.000000,45.000000,0.582000,0.023000
50%,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3473.000000,0.736000,3899.500000,67.000000,0.702000,0.175500
75%,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.750000,1784.000000,9860.000000,0.859000,4741.000000,81.000000,0.818000,0.503000
max,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3397.000000,18484.000000,139.000000,3714.000000,0.999000

Passo 3: Analisar os Dados
    - Queremos descobrir o motivo dos clientes CANCELAREM

In [12]:
display(tabela_clientes['Categoria'].value_counts())
display(tabela_clientes['Categoria'].value_counts(normalize=True))

Cliente      8499
Cancelado    1627
Name: Categoria, dtype: int64

Cliente      0.839325
Cancelado    0.160675
Name: Categoria, dtype: float64

Seu objetivo: Analisar o 80/20 - Regra de Pareto

Olhar todas as características dos clientes e descobrir os PRINCIPAIS MOTIVOS de cancelamento

In [25]:
import plotly.express as px
#https://ploty.com/python/histograms/



for coluna in tabela_clientes:
    # Criar gráfico:
    #passo 1: Criar a figura
    fig = px.histogram(tabela_clientes, x= coluna, color='Categoria')
    #passo 2: exibir a figura
    fig.show()

AttributeError: 'Figure' object has no attribute 'savefig'

O que conseguimos perceber analisando os gráficos?

1. Quase todos os clientes que cancelaram são da categoria Blue.
2. Quanto mais o cliente entra em contato maior as chances de cancelamento. -> Plano de Ação: Analisar o motivo do contato e a qualidade do atendimento/ Tratar os clientes que mais entram em contato.
3. Me parece que, quem usa pouco o cartão, cancela mais o cartão    
    - Com mais de 80 transações o cliente não cancela mais o cartão
    - Clientes com menos de 60 transações são muito críticos
    - A mesma coisa acontece com a quantidade de transações